#navBar {
    border-bottom:solid #30391A;
    display:flex ;
    flex-direction: row;
    margin: 0px 2%;
    justify-content: space-between;
  }
  
  
  #navigation {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-evenly;
  }
  
  #navBar h1 {
    width:100%;
    font-weight: 500;
    font-size: 40px;
  }
  
  #navigation p {
    cursor: pointer;
    text-decoration: none;
    font-size: 22px;
  }
  
  .contact {
    background: #30391A;
    color:white;
    padding: 15px 35px;
  }
  
  .navItem {
    padding: 15px 35px;
  }
  
  .heroImg {
    background-color: #d9d9d9;
    display: grid;
    grid-template-rows: 25% 75%;
    grid-template-columns: 100px auto 100px;
    align-items:center;
    margin: 2% 10%;
    height: 650px;
    justify-content: space-around;
  }
  .dobarDan {
    display: flex;
    grid-row:1;
    grid-column: 2 /3;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    grid-row:2;
    grid-column: 2 / 3;
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    padding: 20px;
    margin: 10px;
  }
  
  #profile {
    display:flex;
    height: 350px
  }
  
  .aboutMe {
    display:flex;
    flex-direction:column;
    width:55%;
    justify-content: center;
    align-items:center;
  }
  
  .expert {
    display:flex;
    flex-direction: row;
    width:50%;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .resume {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  button {
    background:#30391A;
    color:white;
    display:block;
    width: 50%;
    height:50px;
    font-size: 22px;
    cursor: pointer;
    text-decoration:underline;
    text-shadow: 2px 2px 4px #000000;
  }
  
  .download {
    display:flex;
    width: 600px;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    padding: 20px;
    margin: 20px 10%;
    font-size:24px;
    text-shadow: 2px 2px 5px #30391A;
  }
  
  h2 {
    font-size:48px
  }
  
  .skills {
    font-size:20px;
    text-decoration:underline;
  }

  .headLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  #fContainer {
    width:100%;
    display:grid;
    grid-template-columns:33.3% 33.3% 33.3%;
    background-color: #30391A;
    height: 300px;
  }

  .logo {
    border: solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.footerNav {
  grid-column-start:3;
  color: white;
  display:flex;
  flex-direction: column;
  align-items: end;
  padding:20px;
}

.footerInfo {
  display:flex;
  flex-direction: column;
  grid-column-start:1;
  grid-row-start:1;
  padding-left:20px;
  justify-content: space-between;
  padding-bottom:10px;
  color: white;
  
}

.footerInfo p {
  font-size:22px;
}

.footerInfo h1 {
  font-size:40px;
}

.copyright {
  display:flex;
  grid-column-start:2;
}

.collab {
  display:flex;
  grid-column-start:2;
  grid-row-start:1;
  justify-content: center;
  align-items: end;
  font-size:16px;
  font-weight:200;
  color: white;
}

#fNav {
    cursor: pointer;
}

.projectImg1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  margin:2% 2% 0% 2%;
  grid-area:top;
  
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  margin:0% 2% 1% 2%;
  grid-area: bottom;
}

.view {
  margin: 1%;
}

.project1 {
  display:grid;
  grid-template-columns:33% 33% 33%;
  grid-template-rows: auto;
  column-gap:0;
  grid-template-areas:
    "top top top"
    "bottom bottom bottom";
}

#hi {
  display: flex;
  height: 500px;
}

#hi2 {
  height: 500px;
}

#hi3 {
  height: 500px;
}

.project2 {
  display:grid;
  grid-template-columns:33% 33% 33%;
  grid-template-rows: auto;
  column-gap:0;
  grid-template-areas:
    "top top top"
    "bottom bottom bottom";
}

.projectImg2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  margin:2% 2% 0% 2%;
  grid-area:top;
}

.project3 {
  display:grid;
  grid-template-columns:33% 33% 33%;
  grid-template-rows: auto;
  column-gap:0;
  grid-template-areas:
    "top top top"
    "bottom bottom bottom";
}

.projectImg3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  margin:2% 2% 0% 2%;
  grid-area:top;
}

.intro {
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 20px;
justify-content: center;
font-size: 32px;
}

.introContainer {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 50px 200px 25px 200px

}